h2 {
  color: #f7bb1c;
}
nav{
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
}

body{
  color: #333;
  font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Neue Regular", Icons;
}

a{
  color: #333;
  text-decoration: None;
}

nav a{
  margin-left: 12px;
}

.content{
  display: flex;
  flex-direction: row;
}

footer{
  display: block;
  text-align: center;
}

.not-found{
  padding: 0 2rem;
}

.not-found a{
  color: #f7bb1c;
  text-decoration: underline;
}

